.main {
  font-family: 'Arial', sans-serif;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center !important;
  font-size: 32px;
  max-width: 90%;
  font-weight: 700;
  background: #3a3a3a;
  color: #ffffff;
  padding: 10px 24px;
  border-radius: 4px;
  display: inline-block;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.contactSection {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  background-color: #fff;
}

.contactWrapper {
  margin-top: -2rem;;
  display: flex;
  max-width: 1200px;
  width: 100%;
  gap: 17rem;
  align-items: center;
}

.contactImageBox {
  flex: 1;
  display: flex;
  justify-content: center;
}

.contactImage {
  width: 100%;
  max-height:900px;
  max-width: 700px;
  margin-left: 0px !important;
  padding: 0px !important;
  opacity: 0.15;
}

.contactInfo {
  flex: 1;
  width:50%;
  height:100%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.contactName {
  color: #3a3a3a;
  font-size: 3rem;
  font-weight: bold;
}

.contactMail {
  padding-top: 0px;
  margin-top: -2rem;
  font-size: 1rem;
  color: #3a3a3a;
}

.connectTitle {
  color: #3a3a3a;
  font-weight: bold;
  margin-top: 1rem;
}

.contactForm {
  padding-top: 2rem;
  color: #3a3a3a !important;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.inputField {
  max-width: 90%;
  border: none;
  border-bottom: 1px solid #3a3a3a;
  padding: 0rem 0;
  font-size: 1rem;
  outline: none;
  resize: none;
}

.sendBtn {
  color: #3a3a3a;
  align-self: flex-start;
  background: none;
  border: none;
  padding-top: 1rem;
  padding-bottom: 2rem;;
  border-radius: 4px;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}

.socialIcons {
  display: flex;
  gap: 1rem;
  margin-bottom: -0.5rem;
}

.socialIcons img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.downloadBtn {
  margin-left: 20%;
  max-width: 90%;
  background-color:#3a3a3a;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  display: inline-block;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}