.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 3rem;
  font-family: "Poppins", sans-serif;
  position: relative;
  border-radius: 4px;
  background:#bfbab5;
}

.sectionTitle {
  margin-top: 4rem !important;
  text-align: center;
  font-size: 2rem;
  padding: 10px 28px;
  width: fit-content;
  background-color: #333;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  margin: 25px auto 2rem auto; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  position: relative;
  color: #000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding:1rem 2rem;
  color:#ffffff;
  border-radius: 4px;
  background-color: #333;
}

.company {
  font-weight: 700;
  font-size: 1.5rem;
}

.role {
  font-weight: 500;
  font-size: 1.3rem;
  margin-left: -3rem;
}

.date {
  font-size: 0.9rem;
  color: #ffffff;
}

.subSection {
  margin-top: 1rem;
}

.subSection h4 {
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.subSection ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skills span {
  background: #333;
  color: #fff;
  padding: 0.3rem 0.7rem;
  font-size: 1.05rem;
  border-radius: 4px;
}

/* Connector line between cards */
.connector {
  height: 3rem;
  margin: 0 auto 0rem auto;
  z-index: -10;
}