.navbar {
  width: 100vw;
  height:10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem; /* py-6 px-12 */
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.logoContainer {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.25rem; /* text-xl */
}

.logoImage {
  object-fit: cover;
  position: relative;
  z-index: 10;
}

.logoText {
  font-size: 2rem; /* text-5xl */
  font-weight: bold;
  color:#343434;
}

.navLinks {
  display: flex;
  gap: 2rem; /* gap-10 */
  font-weight: 500;
}

.navLink {
  color:rgb(32, 13, 13);
  font-size: 1.2rem; /* text-3xl */
  font-weight: bold;
  transition: color 0.3s;
}

.navLink:hover {
  color: #6b7280; /* gray-500 */
}