.container {
  padding: 5rem 2rem;
  max-width:100vw;
  margin: 0 auto;
  text-align: center;
  background-color:#bfbab5;

}

.heading {
  font-size: 2.5rem;
  font-weight: 800;
  border-radius: 4px;
  background-color:#3a3a3a;
  margin-bottom: 3rem;
  color: #ffffff;
  display: inline-block;
  padding: 0.5rem 2rem;
}

.grid {
  display: grid;
  width:100%;
  grid-template-columns: repeat(4, 1fr); /* exactly 4 per row */
  gap: 2.5rem; /* space between cards */
  align-items: stretch;
  justify-items: center;
  align-items: center;
}

.card {
  height:45vh;
  width: 100%;
  background: #f8f8f8;
  overflow: hidden;
  background:#3a3a3a;
  border-radius:6px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 10vh;
  background:#3a3a3a;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.videoWrapper {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.video, .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desc {
 color: #fff;
  background:#3a3a3a;
  font-size: 1rem;
  line-height: 1.4;
  padding: 0.8rem;
  text-align: center;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background: #000;
  padding: 1rem;
  border-radius: 8px;
  max-width: 100%;
  max-height: 100%;
}

.modalContent video {
  width: 80%;
  height:50%;
  border-radius: 5px;
}

.closeButton {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #000000;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}